.fade-in-animation {
  opacity: 0;
}

.fade-in-top-animation {
  opacity: 0;
  margin-top: 600px;
  margin-bottom: -600px;
}

.fade-in-left-animation {
  opacity: 0;
  margin-left: 800px;
  margin-right: -800px;
}

.fade-in-right-animation {
  opacity: 0;
  margin-right: 800px;
  margin-left: -800px;
}

.fade-in-bottom-animation {
  opacity: 0;
  margin-bottom: 600px;
  margin-top: -600px;
}

.cut-fade-animation {
  overflow: hidden;
  padding-top: 50px;
  opacity: 0;
}
