@font-face {
    font-family: Gelion-Black;
    src: url(../media/fonts/Gelion-Black.ttf);
}

@font-face {
    font-family: Gelion-Regular;
    src: url(../media/fonts/Gelion-Regular.ttf);
}

@font-face {
    font-family: la-regular;
    src: url(../media/fonts/la-regular-400.ttf);
}


#weAre {
    text-align: center;
    letter-spacing: 0.8em;
}

.makuda-logo {
    width: 7.8em;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .makuda-logo {

    }
}

.textOverlay {
    font-family: 'Gelion-Black', Gelion-Black, sans-serif;
}


html {
    background-color: black;
}

body {
    background-color: black;
    color: whitesmoke;
}

.makuda-spacing {
    letter-spacing: 0.3em;
    font-family: 'Gelion-Black', Gelion-Black, sans-serif;
}

.progress::-webkit-progress-value {
    transition: width 0.5s ease;
}

.gelion-text {
    font-family: Gelion-Black, sans-serif;
}

h2 {
    font-family: Gelion-Black, sans-serif;
}

.progress-bar {
    /*transition: width 250ms ease-in-out;*/
    transition: width 1s ease-in-out;
}


.char {
    animation: an 1s ease-out 1 both;
}

.card {
    background-color: black;
}

.colorContainer {
    background-color: #1d1d1b;
    color: whitesmoke;


}

.h2OverProgress {
    margin-bottom: 10px;
}

.pUnderProgress {
    margin-top: -15px;
}

p {
    font-size: small;
}


#colonnaSpeciale {
    height: 660px;
}


@keyframes an {
    from {
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    to {
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}


.progress.is-makuda::-webkit-progress-value {
    background-color: #f6b600;
}

.progress.is-makuda::-moz-progress-bar {
    background-color: #f6b600;
}

.progress.is-makuda::-ms-fill {
    background-color: #f6b600;
}

.progress.is-makuda:indeterminate {
    background-image: linear-gradient(to right, #f6b600 30%, #ededed 30%);
}

.progress {
    border-radius: 0;
}

progress {
    border-radius: 0;
}

.progressbar {
    display: inline-block;
    width: 100px;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.circle {
    width: 230px;
    height: 110px;
    display: inline-block;
    position: relative;
    text-align: center;
}

.circle:after {
    width: 120px;
    height: 120px;
    content: "";
    border-radius: 50%;
    display: block;
}

.has-text-light .strong-orange {

}

.circle canvas {
    vertical-align: middle;
    border-radius: 50%;
}

.circle div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -86px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 31px;
}

.circle strong i {
    font-style: normal;
    font-size: 0.6em;
    font-weight: normal;
}


.circle-container {
    color: whitesmoke;
}

.circle-container > h2 {
    text-align: center;
}

.margin-topCard {
    margin-top: -12px;
    margin-bottom: -12px;
}


#carousel1 .card {
    margin-right: 20rem;
    margin-left: 20rem;

}

#carousel2 .card {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;
}

.carousel, .carousel * {
    outline: 0 !important;
}

.carousel .card:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}

#replacement {
    opacity: 0;
    transform: scale(0, 0);
}


.ashade-testimonials-item {
    padding-top: 100px;
    padding-bottom: 100px;
}

.hide {
    display: none !important;
}


.ashade-testimonials-item__author {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 3;
}

.ashade-testimonials-item__author img {
    width: 100px;
    border-radius: 50%;
    box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.3);
}


.ashade-testimonials-item__author--name {
    text-align: right;
    font-family: 'Gelion-Black', Gelion-Black, sans-serif;
    padding-top: 30px;
}

.ashade-testimonials-item__author--name h6 {
    font-size: 30px;
    line-height: 17px;
}

.ashade-testimonials-item__author--name span {
    font-size: 20px;
    line-height: 0;
}


.ashade-testimonials-item__content {
    background: #1d1d1b;
    margin: -30px 0 0 20px;
    padding: 10px 20px 18px 20px;
    color: #787777;
}

.ashade-testimonials-item__stars {
    text-align: right;
    margin: 0 0 2px 0;
}

.ashade-testimonials-item__stars.ashade-stars5:before {
    content: '\f005\f005\f005\f005\f005';
}

.ashade-testimonials-item__stars:before {
    font-family: la-regular, serif;
    color: #5C5C60;
    font-size: 16px;
    line-height: 20px;
}

.ashade-testimonials-item__content p {
    font-size: 20px !important;
}


.margin-left-right {
    margin-right: 2vh;
    margin-left: 2vh;
    margin-bottom: 3vh;
    margin-top: -10px;
}

.titleUnderCircle {
    text-align: center;
}


.makuda-home-link--contacts.makuda-home-link-wrap {
    left: calc(66.66% + 21px);
    text-align: left;
    top: 200%;
}

.makuda-home-link span:last-child {
    font-family: 'Gelion-Black', Gelion-Black, sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.makuda-home-link span:first-child {
    display: block;
    color: #5C5C60;
    font-family: 'Gelion-Black', Gelion-Black, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

body .makuda-home-link span:first-child {
    margin: 0px 0 3px 0;
}

body .makuda-home-link-works span:first-child {
    margin: -23px 0 3px 0;
}

.makuda-home-link span:last-child {
    font-size: 50px;
    line-height: 55px;
    margin: 0 0 28px 0;
}

a {
    position: relative;
}

a, a:hover {
    text-decoration: none;
    color: #fff;
}


.makuda-home-link-wrap {
    position: fixed;
    top: 100%;
    left: calc(100vw - 182px);
    width: 100vh;
    display: flex;
    justify-content: flex-start;
    transform-origin: 0% 0%;
    transform: rotate(-90deg) translate(0, 0);
    z-index: 10;
    cursor: default;
    text-align: right;
    padding-left: 100px;
}

.makuda-home-link-wrap:before {
    content: '';
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    position: absolute;
    left: 0;
    top: 21px;
}

.makuda-home-link--works.makuda-home-link-wrap {
    left: calc(15% - 21px);
    text-align: center;
    padding: 0;
    top: 0;
}

.makuda-home-link--works.makuda-home-link-wrap .makuda-home-link {
    margin: 0 auto;
}

.makuda-home-link--works span:first-child {
    text-align: left;
}

body.is-loaded .makuda-home-link-wrap {
    transition: transform 0.5s, z-index 0.6s;
}

.makuda-home-link {
    cursor: pointer;
}

.makuda-home-link span {
    display: block;
    transition: transform 0.5s, color 0.5s;
}

.makuda-home-link--works span:first-child {
    margin: 0 0px 3px 0;
    transform: translateX(-100px);
    color: rgba(255, 255, 255, 0);
}

.makuda-home-link--works span:last-child {
    margin: 0;
    color: rgba(255, 255, 255, 0);
    transform: translateX(50px);
}

.makuda-home-link-wrap.is-loaded .makuda-home-link {
    pointer-events: auto;
}

.makuda-home-link--works.is-loaded span:first-child {
    color: rgba(255, 255, 255, 0.6);
    transform: translateX(-50px);
}

.makuda-home-link--works.is-loaded span:last-child {
    color: rgba(255, 255, 255, 0.5);
    transform: translateX(0px);
}

.makuda-home-link--works.is-loaded .makuda-home-link:hover span:first-child {
    transform: translateX(-40px);
    color: rgba(255, 255, 255, 0.8);
}

.makuda-home-link--works.is-loaded .makuda-home-link:hover span:last-child {
    transform: translateX(-10px);
    color: #fff;
}

/*
Contacts
 */

.makuda-home-link--contacts.makuda-home-link-wrap {
    left: calc(80% + 21px);
    text-align: left;
    top: 200%;
}

.makuda-home-link--contacts span:first-child {
    text-align: right;
}

.makuda-home-link--contacts span:first-child {
    margin: 20px 0 3px 0;
    transform: translateX(100px);
    color: rgba(255, 255, 255, 0);
}

.makuda-home-link--contacts span:last-child {
    margin: 0;
    color: rgba(255, 255, 255, 0);
    transform: translateX(-50px);
}

.makuda-home-link--contacts.is-loaded span:first-child {
    color: rgba(255, 255, 255, 0.6);
    transform: translateX(50px);
}

.makuda-home-link--contacts.is-loaded span:last-child {
    color: rgba(255, 255, 255, 0.5);
    transform: translateX(0px);
}

.makuda-home-link--contacts.is-loaded .makuda-home-link:hover span:first-child {
    color: rgba(255, 255, 255, 0.8);
    transform: translateX(40px);
}

.makuda-home-link--contacts.is-loaded .makuda-home-link:hover span:last-child {
    transform: translateX(10px);
    color: #fff;
}


