.makuda-icons {
    float: left;
    margin-right: 5%;
    fill: #f6b600;
}

.makuda-font-title {
    font-size: 20px;
    color: #f6b600;
    font-family: EuroStile-Bold, serif;
}

.makuda-font-subString {
    font-size: 15px;
}

.home-band {
    height: 93vh;
    display: flex;
    margin-top: 70px;
    margin-bottom: 50px;
    background-image: url("/media/img/home_band_bg.png");
    position: relative;
    overflow: hidden;
    color: white;
    text-align: center;
}

.home-band p {
    margin: auto;
    font-size: 3em;
    line-height: 1;
    letter-spacing: 0.2em;
}

.home-band span {
    opacity: 0;
}

.band-view {
    margin: auto;
    display: none;
}

.scrolldown-wrapper {
    left: 50%;
    position: absolute;
    text-align: center;
    bottom: 15px;
    transform: translate(-50%, -50%);
    transition: all 1s;
}

.scrolldown {
    border: 2px solid #ffffff;
    border-radius: 30px;
    height: 46px;
    margin: 0 auto 8px;
    text-align: center;
    width: 30px;
    transform: scale(1);
}

.scrolldown-p1,
.scrolldown-p2 {
    animation-duration: 1.5s;
    animation-name: scrolldown;
    animation-iteration-count: infinite;
    fill: #ffffff;
}

.scrolldown-p2 {
    animation-delay: 0.75s;
}

@keyframes scrolldown {
    0% {
        opacity: 0;
        transform: translate(0, -8px);
    }
    50% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        transform: translate(0, 8px);
    }
}

.scopri-chi-siamo {
    opacity: 0;
}

.textNearIcons {
    color: white;
}

#weAre {
    text-align: center;
    letter-spacing: 0.8em;
    opacity: 0;
}

#we-are {
    font-size: 75px;
    height: 49px;
    line-height: 43px;
}

.makuda-logo {
    width: 7.8em;
    height: auto;
}

.textOverlay {
    font-family: "Gelion-Black", Gelion-Black, sans-serif;
}

html {
    background-color: #111111;
}

body {
    background-color: #111111;
    color: whitesmoke;
    overflow: hidden;
}

.makuda-spacing {
    letter-spacing: 0.3em;
    font-family: EuroStile-Bold, serif;
}

.makuda-font {
    font-family: EuroStile-Bold, serif;
}

.containerCar {
    max-width: 800px;
    margin-top: 4vh;
}

.progress::-webkit-progress-value {
    transition: width 0.5s ease;
}

.gelion-text {
    font-family: Gelion-Black, sans-serif;
}

h2 {
    font-family: Gelion-Black, sans-serif;
}

.progress-bar {
    /*transition: width 250ms ease-in-out;*/
    transition: width 1s ease-in-out;
}

.char {
    animation: an 1s ease-out 1 both;
}

.card {
    background-color: transparent;
}

.colorContainer {
    background-color: #111111;
    color: whitesmoke;
}

.h2OverProgress {
    margin-bottom: 10px;
}

p {
    font-size: small;
}

#colonnaSpeciale {
    height: 660px;
}

@keyframes an {
    from {
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    to {
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}

.progresss-makuda::-webkit-progress-value {
    background-color: #f6b600;
}

.progress.is-makuda::-moz-progress-bar {
    background-color: #f6b600;
}

.progress.is-makuda::-ms-fill {
    background-color: #f6b600;
}

.progress.is-makuda:indeterminate {
    background-image: linear-gradient(to right, #f6b600 30%, #ededed 30%);
}

.progress {
    border-radius: 0;
    height: 0.5rem;
}

progress {
    border-radius: 0;
}

.progressbar {
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 5%;
    min-height: 120px;
}

.circle {
    width: 230px;
    height: 110px;
    display: inline-block;
    position: relative;
    text-align: center;
}

.circle:after {
    width: 120px;
    height: 120px;
    content: "";
    border-radius: 50%;
    display: block;
}

.testimonials-wrapper {
    position: absolute;
    width: 100%;
}

.testimonials-gradient {
    width: 100%;
    min-height: 400px;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.gradient-video {
    width: 100%;
    min-height: 600px;
    object-fit: cover;
    position: absolute;
    z-index: 2;
}

.wrapper-testimonial{
    min-height: 250px;
}
.testimonial-dopo{
    padding-left: 0 !important;
}
.testimonial-prima{
    padding-right: 0 !important;
}

.wrapper-gradient {
    position: absolute;
    width: 100%;
}

.wrapper-gradient > video {
    position: absolute;
    top: 0;
    z-index: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    object-fit: cover;
}

.contMargin {
    margin-top: 10%;
}

.makuda-testimonials-item {
    position: absolute;
    top: 0;
    z-index: 0;
    object-fit: cover;
}

.slider-navigation-next {
    background: unset !important;
    border: unset !important;
    color: #f6b600 !important;
}

.slider-navigation-previous {
    background: unset !important;
    border: unset !important;
    color: #f6b600 !important;
}



.slider-pagination .slider-page {
    background: #f6b600 !important;
}

.section {
    padding: 0 !important;
}

.video-dopo:before {
    opacity: 0;
}

.video-dopo {
    background: linear-gradient(to left, #111111 60%, rgba(0, 0, 0, 0));

    animation: opacityAnimation 2s;
}

.video-prima {
    background: linear-gradient(to right, #111111 60%, rgba(0, 0, 0, 0));
    animation: opacityAnimation 2s;
}



@keyframes opacityAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}



.circle canvas {
    vertical-align: middle;
    border-radius: 50%;
}

.circle div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -115px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 40px;
    font-family: "Gelion-Black", Gelion-Black, sans-serif;
}

.circle strong i {
    font-style: normal;
    font-size: 0.6em;
    font-weight: normal;
}

.circle-container {
    color: whitesmoke;
}

.circle-container > h2 {
    text-align: center;
}

.margin-topCard {
    margin-top: -12px;
    margin-bottom: -12px;
}

.carousel,
.carousel * {
    outline: 0 !important;
}

#replacement {
    opacity: 0;
    transform: translateY(1000px);
}

.makuda-testimonials-item {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}

.hide {
    display: none !important;
}

.makuda-testimonials-item__author {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 3;
}

.makuda-testimonials-item__author img {
    width: 100px;
    border-radius: 50%;
    box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.3);
    border: 5px solid #f6b600;
}

.makuda-testimonials-item__author--name {
    padding-right: 20px;
    text-align: right;
    font-family: "Gelion-Black", Gelion-Black, sans-serif;
    padding-top: 30px;
}

.makuda-testimonials-item__author--name h6 {
    font-size: 30px;
    line-height: 17px;
}

.makuda-testimonials-item__author--name span {
    font-size: 20px;
    line-height: 0;
}

.makuda-testimonials-item__content {
    background: #1a1a1a;
    margin: -30px 20px 0 20px;
    padding: 10px 20px 18px 20px;
    color: #787777;
}

.makuda-testimonials-item__stars {
    text-align: right;
    margin: 0 0 2px 0;
}

.makuda-testimonials-item__stars.makuda-stars5:before {
    content: "\f005\f005\f005\f005\f005";
}

.makuda-testimonials-item__stars:before {
    font-family: la-regular, serif;
    color: #5c5c60;
    font-size: 16px;
    line-height: 20px;
}

.makuda-testimonials-item__content p {
    font-size: 20px !important;
}

.margin-left-right {
    margin-right: 2vh;
    margin-left: 2vh;
    margin-bottom: 3vh;
    margin-top: -10px;
}

.titleUnderCircle {
    text-align: center;
}

.margin-top-vid {
    margin-top: 10vh;
}

#hero-body {
    height: 100vh;
}

a {
    position: relative;
}

a,
a:hover {
    text-decoration: none;
    color: #fff;
}

@media only screen and (max-width: 1024px) {
    #containerText {
        transform: scale(0.8, 0.8);
        transform-origin: left;
    }

    #weAre {
        text-align: left;
    }

    .consultingText {
        text-align: left !important;
    }

    .makuda-logo {
        margin-top: 7%;
        margin-bottom: 5%;
    }

    .gradient-video {
        min-height: 100vh;
    }
}


:not(svg) {
    transform-origin: center;
    -moz-transform-origin: center;
    -webkit-transform-origin: center center;
    transform-box: fill-box;
}

.consultingText {
    text-align: center;
    letter-spacing: 2em;
    font-size: medium;
    opacity: 0;
}

.slider-pagination {
    display: none !important;
}

.parallelepipedo {
    width: 150px;
    height: 400px;
    transform: skewY(-20deg);
    -ms-transform: skewY(-20deg); /* IE 9 */
    -webkit-transform: skewY(-20deg); /* Safari and Chrome */
    background: #3b3b3b;
    margin-left: 10px;
    margin-right: 10px;
    transition: all 300ms;
    position: relative;
    overflow: hidden;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 0;
    -webkit-box-shadow: 0px 0px 15px 16px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 15px 16px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.parallelepipedo:hover {
    transition: all 1s;
    background: linear-gradient(#dcac02, #372d0a);
    -webkit-box-shadow: 0px 0px 15px 16px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 15px 16px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

/*
.parallelepipedo::before {
  content: "";
  width: 300px;
  height: 400px;
  transform: skewY(20deg);
  -ms-transform: skewY(20deg);
  -webkit-transform: skewY(20deg);
  background-position: center center;
  background-color: grey;
  background-size: cover;

  position: absolute;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
}
*/
.square {
    border: 5px solid #f6b600;
    width: 0px;
    height: 300px;
    display: none;
    transition: all 300ms;
    position: absolute;
    opacity: 0;
    left: 0;
    z-index: 0;
    transform: translateX(0px) translateY(70px);
}

.sezione-infografica {
    margin-bottom: 3em;
}

.paralleGruppo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 70px;
}

.paralleGruppo > div {
    display: flex;
    align-self: center;
    flex-direction: row;
}

.boldBig {
    font-family: Gelion-black;
    font-size: 6em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.numberParallelepipedo {
    color: #4a4a4a;
    margin-top: -50px;
    font-size: 20em;
    transform: skewY(20deg) translateX(50px);
    font-family: Gelion-light;
}

.parallelepipedo .secondText {
    top:0;
    font-size: 2em;
    position: absolute;
    transform: skewY(20deg) translateX(-50px) translateY(680px) scale(-1, -1) ;
    transform-origin: 0 0;
    font-family: Gelion-black;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-transform: uppercase;
    letter-spacing: 0;
    color: white;
}

.textInsideSquare {
    font-size: 1em;
    opacity: 0;
}

.textInsideSquare ul {
    list-style: inside;
}

.titleInsideSquare {
    font-size: 2em;
    font-family: Gelion-Black;
    overflow: hidden;
    color: white;
    text-transform: uppercase;
}

.titleInsideSquare:before {
    content: "";
    display: block;
    width: 1em;
    height: 0.2em;
    background-color: #f6b600;
}

div > .uno {
    margin-top: -40px;
    transform: skewY(20deg) translateX(0px);
}

div > .cinque {
    margin-top: -45px;
}

.textInsideSquareLong {
    font-size: 1em;
    color: white;
}

.underTitleInsideSquare {
    color: #f6b600;
    font-family: Gelion-SemiBoldItalic;
}

.boldBig {
    font-family: Gelion-black;
    font-size: 6em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-top: 150px;
}

.boldOrange {
    display: block;
    font-size: 1em;
    letter-spacing: 0.2rem;
    color: #f6b600;
    font-weight: 500;
    text-transform: uppercase;
    font-family: Gelion-black;
}

.stickHorizontal::after {
    content: "";
    display: block;
    width: 4em;
    height: 0.5em;
    background-color: #f6b600;
}

.whiteText {
    color: white;
    font-family: Gelion-light;
    line-height: 1;
    font-size: x-large;
}

.halfWidth {
    width: 50%;
}

.imageMask:before {
    content: "";
    position: absolute;
    background: linear-gradient(to bottom, #111111 20%, rgba(0, 0, 0, 0));
    width: 100%;
    height: 100%;
    display: block;
    z-index: 10;
}

.noWrap {
    display: flex;
}

.giantAssTextLight {
    font-size: 15em;
    color: #f6b600;
    font-family: Gelion-light;
}

#carousel3 .slider-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px !important;
    height: auto;
    margin-right: 50px;
}

#carousel3 .slider-navigation-next {
    display: none;
}

#carousel3 .slider-navigation-previous {
    display: none;
}

* {
    outline: none;
}

.textInsideSquareWork {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    font-size: 3em;
}

.containerText {
    position: relative;
    text-align: center;
    color: white;
}

/* FADING CAROUSEL */
.nostri-progetti {
    margin: 100px 0;
    color: black;
}

.nostri-progetti .title {
    margin: auto;
    padding-top: 25px;
    margin-bottom: 50px;
    position: relative;
    color: black;
}

.works-band {
    position: absolute;
    width: 100%;
    height: 60vh;
    background-color: rgb(255, 197, 32) !important;
}

.fading-carousel {
    font-family: Gelion-light;
    display: flex;
    position: relative;
}

.fading-carousel p {
    font-size: 20px;
}

.fading-select {
    width: 10%;
}

.fading-images {
    top: 0;
    z-index: 1;
    transition: top 0.3s;
}

.fading-image {
    position: absolute;
    opacity: 0%;
    top: 0;
    width: 50%;
    height: auto;
    transition: all 1s;
}


.fading-image.selected {
    opacity: 100%;
}

.fading-caption-content {
    position: relative;
    display: flex;
    flex: 1;
    /* margin-right: 25px;
    margin-left: 75px; */
    margin-top: 0;
    background-color: #2220;
}

.fading-caption {
    width: 70%;
    margin: auto;
    margin-left: 30px;
    position: absolute;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 20px;
    transition: all 1s;
    /* background-color: rgb(13, 14, 14); */
}

.fading-caption:first-of-type {
    position: relative;
    top: 0;
    transform: translateY(0);
}

.fading-caption.selected {
    opacity: 100%;
    z-index: 2;
}

p.fading-subtitle {
    font-size: 15px;
    padding-bottom: 15px;
    margin-top: -10px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.fading-title {
    font-family: Gelion-black;
    text-transform: uppercase;
    padding-bottom: 0;
    color: white;
    letter-spacing: 0.2em;
}

p.fading-title {
    font-size: 30px;
}

p.fading-description {
    width: 90%;
}

/*fading-select in fading-carousel*/
.fading-select {
    margin: auto;
    margin-right: 10px;
}

.fading-choise {
    display: flex;
}

.fading-choise p {
    margin: 0;
    font-size: 25px;
    margin-top: -3px;
    display: none;
}

.fading-shapes {
    margin: auto;
    margin-right: 15px;
    margin-left: 0;
}

.fading-circle {
    border-radius: 100%;
    width: 17px;
    height: 17px;
    border: solid white 2px;
    cursor: pointer;
    margin: 10px 0;
}

.fading-line {
    border-left: 2px solid white;
    width: 2px;
    margin: 0px auto;
    height: 0px;
    margin-bottom: 0px;
    transition: all 1s;
}

.fading-line.hidden {
    border-left: 2px solid transparent;
}

.fading-choise.selected .fading-circle {
    background-color: white;
    border-width: 0;
    width: 16px;
    height: 16px;
}

.fading-choise.selected .fading-line {
    height: 50px;
}

.fading-choise.selected p {
    display: inline;
}

/*animatedBtn in fading-carousel*/
.fading-caption .animatedBtn {
    width: 200px;
    margin: 0;
    margin-top: 20px;
}

.fading-caption .animatedBtn .svg-wrapper {
    width: 200px;
}

.fading-caption .animatedBtn .shape {
    stroke-dasharray: 50 200;
    stroke-dashoffset: -75;
    stroke: white;
}

.fading-caption .animatedBtn:hover .shape {
    stroke-dasharray: 550;
    stroke-dashoffset: 0;
}

.fading-caption .animatedBtn .text {
    color: white !important;
    font-size: 20px !important;
    letter-spacing: 0.2em !important;
    padding-top: 9px;
    font-family: Gelion-black;
}

/* RESPONSIVE */
@media (max-width: 575.98px) {
    .works-band {
        height: 60vh;
    }
}

@media (min-width: 576px) {
    .works-band {
        height: 60vh;
    }
}

@media (min-width: 768px) {
    .works-band {
        height: 60vh;
    }
}

@media (min-width: 992px) {
    .works-band {
        height: 56%;
    }
}

.opacity-0 {
    opacity: 0;
}


.card-padding {
    padding-left: 100px;
    padding-right: 100px;
}

@media (min-width: 1200px) {
    .works-band {
        height: 52%;
    }
}
@media (max-width: 1024px) {
    .card-padding {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 780px) {
    .makuda-testimonials-item__content {
        margin: 0;

    }

}
.square div .cross {
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

#sectionVideo {
    opacity: 0;
}
