@font-face {
    font-family: Gelion-Black;
    src: url("../media/fonts/Gelion-Black.ttf");
}

@font-face {
    font-family: Gelion-Regular;
    src: url("../media/fonts/Gelion-Regular.ttf");
}

@font-face {
    font-family: la-regular;
    src: url("../media/fonts/la-regular-400.ttf");
}

@font-face {
    font-family: EuroStile-Bold;
    src: url("../media/fonts/EurostileLTStd-BoldEx2.otf");
}

@font-face {
    font-family: Gelion-light;
    src: url("../media/fonts/Gelion-Light.ttf");
}

@font-face {
    font-family: Gelion-Regular-italic;
    src: url("../media/fonts/Gelion-RegularItalic.ttf");
}

@font-face {
    font-family: Gelion-SemiBoldItalic;
    src: url("../media/fonts/Gelion-SemiBoldItalic.ttf");
}

.menu-background {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    transform: translate(50%);
    height: 100vh;
    width: 200vw;
}

.navbar-burger {
    display: initial !important;
}

.menuWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    display: none;
    z-index: 100;
    background-color: #f6b600;
}

.letter {
    transform: translateX(-45%);
    opacity: 0;
    font-family: "Gelion-Black", Gelion-Black, sans-serif;
    color: black;
    display: flex;
    font-size: 100%;
    transform-style: preserve-3d;
}

.buttonMenu {
    display: inherit;
    margin: auto;
}

.letterWrapper {
    display: inherit;
    margin: auto auto;
}

.exit {
    position: fixed;
    right: 3em;
    top: 2em;
    z-index: 100;
}

.exit a {
    color: black;
}

.letterWrapper a {
    display: inherit;
}

.rectangle {
    width: 100vw;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
    transform: translate(100%);
    background-color: #f6b600;
}

.menuButton {
    font-family: "Gelion-Black", Gelion-Black, sans-serif;
    letter-spacing: 0.2em;
    left: -5px;
}

.rectangleNavbar {
    position: absolute;
    z-index: -1;
    right: 5px;
}

.quote {
    font-family: Gelion-Regular-italic, serif;
    font-size: 4em;
}

/* RESPONSIVE */

@media only screen and (max-width: 1024px) {

    .buttonMenu {
        font-size: 3em !important;
        height: 100px;
        margin: 0;
        padding-right: 0 !important;
        margin-right: 0 !important;
    }
    .navbar-menu.is-active{
        background-color: transparent;
        box-shadow: unset;
        padding: 0;
    }
    .exit {
        right: 1em;
        top: 2em;
    }

    .menuWrapper {
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
}