.pageloader {
  position: fixed;
  background: #111111;
  transform: translate(0);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 9999;
  display: flex;
}
.pageloader .content {
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  color: #111111;
}


.pageloaderLogo {
  background-color: #111111;
  min-height: 100%;
  min-width: 100%;
  transform-origin: center center;
  -webkit-transform-origin: center center;
}

@keyframes scaleUP {
  /* You could think of as "step 1" */
  0% {
    transform: scale(0, 0);
  }
  /* You could think of as "step 2" */
  100% {
    transform: scale(1, 1);
  }
}

.circleInit {
  transform-origin: center;
  transform: scale(0, 0);
}

.circleScale {
  transform-origin: center center;
  animation: scaleUP 0.3s;
}
:not(svg) {
  transform-origin: center;
  -moz-transform-origin: center;
  -webkit-transform-origin: center center;
  transform-box: fill-box;
}

