@font-face {
    font-family: Gelion-Black;
    src: url(../media/fonts/Gelion-Black.ttf);
}

@font-face {
    font-family: Gelion-Regular;
    src: url(../media/fonts/Gelion-Regular.ttf);
}


.rounded {
    -webkit-box-shadow: 6px 4px 0 0 #24252b;
    box-shadow: 6px 4px 0 0 #24252b;
    overflow: hidden;
}


#navbar {
    background-color: #1d1d1b;
}

.hero {
    background-color: black;
}

.blackground {
    background-color: black;
}

.colonnaVertical {
    height: 50vh;
}


h1 {
    font-family: Gelion-Black, sans-serif;
    color: white;
}

p {
    font-family: Gelion-Regular, sans-serif;
    color: grey;
    font-size: x-large;
}

h3 {
    font-family: Gelion-Black, sans-serif;
    color: grey;
}


.is-size-05 {
    font-size: 6rem !important;
}

.min-height {
    min-height: 100vh;
}

.gelion-text{
    font-family: Gelion-Black, sans-serif;
}


body {
    background: #20262E;
    padding: 20px;
    font-family: Helvetica;
}

aside {
    background: #1a1721;
    margin: 0 1em;
    text-align: center;
    padding-top: 3em !important;
}

h1 {
    opacity: 0.2;
    font-weight: bold;
    letter-spacing: 0.2em;
}


.item-cols {
    position: relative;
}
.itm {
    height: 15em;
    cursor: pointer;
    text-align: center;
}
.inner {
    height: 100%;
    padding: 5em 1em;
    font-weight: bold;
}


.hide{
    visibility: hidden;
}

#fondo{
    background: black no-repeat left top;
    /*background: url(https://s28.postimg.org/3z90275y5/yg_Vp_JMP.jpg) no-repeat left top;*/
    background-size: cover;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

#encima{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    -webkit-mask: url(https://i.imgur.com/AYJuRke.png);
    /*-webkit-mask: url(https://veuwer.com/i/3fxb.png);*/
    -webkit-mask-size: 3000% 100%;
}

#encima:before{
    content: '';
    background: #fcc400 no-repeat left top;
    /*background: url(https://s22.postimg.org/urrt8jfq9/d_JLNh_FN.jpg) no-repeat left top;*/
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

@-webkit-keyframes mask-playzero {
    from {
        -webkit-mask-position: 0 0;
        -ms-mask-position: 0 0;
        -moz-mask-position: 0 0;
        -o-mask-position: 0 0;
        mask-position: 0 0;
    }
    to {
        -webkit-mask-position: 100% 0;
        -ms-mask-position: 100% 0;
        -moz-mask-position: 100% 0;
        -o-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}
@keyframes mask-playzero {
    from {
        -webkit-mask-position: 0 0;
        -ms-mask-position: 0 0;
        -moz-mask-position: 0 0;
        -o-mask-position: 0 0;
        mask-position: 0 0;
    }
    to {
        -webkit-mask-position: 100% 0;
        -ms-mask-position: 100% 0;
        -moz-mask-position: 100% 0;
        -o-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

.blackground{
    background: black;
    height: 100vh;
}

body{
    background: black;
}