<link href="/css/pageLoader.css" rel="stylesheet"/>
<div class="pageloader">
    <!--
<img id="pageloaderImg" src="media/img/tenor.gif" height="1080" width="1920" style="opacity: 0">
-->
    <div class="content" style="transform: scale(0.3)">
        <svg
                class="pageloaderLogo"
                style="opacity: 1"
                viewBox="0 0 1920 1080"
                xmlns="http://www.w3.org/2000/svg"
        >
            <polygon
                    fill="white"
                    id="M"
                    points="427.75 482.11 427.75 599.96 398.29 599.96 398.29 542.46 384.22 569.91 368.75 600.09 353.29 569.92 339.21 542.46 339.21 599.96 309.76 599.96 309.76 482.11 339.21 482.11 368.75 539.75 398.29 482.11 427.75 482.11"
                    style="opacity: 0"
            />
            <path
                    d="M635.39,600.1h31L604.73,479.89,543.11,600.1h31l8.62-16.82h44.09ZM595,559.18l9.7-18.92,9.7,18.92Z"
                    fill="white"
                    id="A_2"
                    style="opacity: 0"
            />
            <path
                    d="M1579.3,600.1h30.94l-61.6-120.21L1487,600.1H1518l8.62-16.82h44.09ZM1539,559.18l9.69-18.9,9.69,18.9Z"
                    fill="white"
                    id="A"
                    style="opacity: 0"
            />
            <path
                    d="M1135.68,482.12h-29.54v75A16.89,16.89,0,0,1,1089.3,574h-28a14.21,14.21,0,0,1-14.2-14.21V482.12h-29.46v74.66A43.33,43.33,0,0,0,1061,600.11h31.33a43.33,43.33,0,0,0,43.33-43.33Z"
                    fill="white"
                    id="U"
                    style="opacity: 0"
            />
            <path
                    d="M1328.33,482.12h-74.66v118h74.66a43.32,43.32,0,0,0,43.32-43.33V525.45A43.32,43.32,0,0,0,1328.33,482.12Zm17.22,74.32a14.21,14.21,0,0,1-14.2,14.21h-48.22v-59h45.58a16.89,16.89,0,0,1,16.84,16.85Z"
                    fill="white"
                    id="D"
                    style="opacity: 0"
            />
            <polygon
                    fill="white"
                    id="K"
                    points="840.71 541.11 899.7 600.1 858.77 600.1 820.25 561.58 781.71 600.1 781.7 559.18 858.77 482.11 899.7 482.11 840.71 541.11"
                    style="opacity: 0"
            />
            <polygon
                    fill="#f6b600"
                    id="triangle"
                    points="781.71 482.12 781.71 511.6 811.2 482.12 781.71 482.12"
                    style="opacity: 0"
            />
            <defs>
                <clipPath id="letter_circle">
                    <polygon
                            fill="white"
                            points="427.75 482.11 427.75 599.96 398.29 599.96 398.29 542.46 384.22 569.91 368.75 600.09 353.29 569.92 339.21 542.46 339.21 599.96 309.76 599.96 309.76 482.11 339.21 482.11 368.75 539.75 398.29 482.11 427.75 482.11"
                    />
                    <path
                            d="M635.39,600.1h31L604.73,479.89,543.11,600.1h31l8.62-16.82h44.09ZM595,559.18l9.7-18.92,9.7,18.92Z"
                            fill="white"
                    />
                    <path
                            d="M1579.3,600.1h30.94l-61.6-120.21L1487,600.1H1518l8.62-16.82h44.09ZM1539,559.18l9.69-18.9,9.69,18.9Z"
                            fill="white"
                    />
                    <path
                            d="M1135.68,482.12h-29.54v75A16.89,16.89,0,0,1,1089.3,574h-28a14.21,14.21,0,0,1-14.2-14.21V482.12h-29.46v74.66A43.33,43.33,0,0,0,1061,600.11h31.33a43.33,43.33,0,0,0,43.33-43.33Z"
                            fill="white"
                    />
                    <path
                            d="M1328.33,482.12h-74.66v118h74.66a43.32,43.32,0,0,0,43.32-43.33V525.45A43.32,43.32,0,0,0,1328.33,482.12Zm17.22,74.32a14.21,14.21,0,0,1-14.2,14.21h-48.22v-59h45.58a16.89,16.89,0,0,1,16.84,16.85Z"
                            fill="white"
                    />
                    <polygon
                            fill="white"
                            points="840.71 541.11 899.7 600.1 858.77 600.1 820.25 561.58 781.71 600.1 781.7 559.18 858.77 482.11 899.7 482.11 840.71 541.11"
                    />
                    <polygon
                            fill="#f6b600"
                            points="781.71 482.12 781.71 511.6 811.2 482.12 781.71 482.12"
                    />
                </clipPath>
            </defs>
            <circle
                    clip-path="url(#letter_circle)"
                    cx="340"
                    cy="510"
                    fill="white"
                    r="45"
                    class="circleInit"
            ></circle>
            <circle
                    clip-path="url(#letter_circle)"
                    cx="400"
                    cy="510"
                    fill="white"
                    r="45"
                    class="circleInit"
            ></circle>
            <circle
                    clip-path="url(#letter_circle)"
                    cx="340"
                    cy="570"
                    fill="white"
                    r="45"
                    class="circleInit"
            ></circle>
            <circle
                    clip-path="url(#letter_circle)"
                    cx="400"
                    cy="570"
                    fill="white"
                    r="45"
                    class="circleInit"
            ></circle>

            <circle
                    clip-path="url(#letter_circle)"
                    cx="600"
                    cy="510"
                    fill="white"
                    r="45"
                    class="circleInit"
            ></circle>
            <circle
                    clip-path="url(#letter_circle)"
                    cx="570"
                    cy="580"
                    fill="white"
                    r="45"
                    class="circleInit"
            ></circle>
            <circle
                    clip-path="url(#letter_circle)"
                    cx="640"
                    cy="580"
                    fill="white"
                    r="45"
                    class="circleInit"
            ></circle>

            <circle
                    clip-path="url(#letter_circle)"
                    cx="790"
                    cy="490"
                    fill="#f6b600"
                    r="35"
                    class="circleInit"
            ></circle>

            <circle
                    clip-path="url(#letter_circle)"
                    cx="870"
                    cy="510"
                    fill="white"
                    r="45"
                    class="circleInit"
            ></circle>
            <circle
                    clip-path="url(#letter_circle)"
                    cx="840"
                    cy="590"
                    fill="white"
                    r="70"
                    class="circleInit"
            ></circle>

            <circle
                    clip-path="url(#letter_circle)"
                    cx="1050"
                    cy="510"
                    fill="white"
                    r="45"
                    class="circleInit"
            ></circle>
            <circle
                    clip-path="url(#letter_circle)"
                    cx="1120"
                    cy="510"
                    fill="white"
                    r="50"
                    class="circleInit"
            ></circle>
            <circle
                    clip-path="url(#letter_circle)"
                    cx="1080"
                    cy="590"
                    fill="white"
                    r="80"
                    class="circleInit"
            ></circle>

            <circle
                    clip-path="url(#letter_circle)"
                    cx="1270"
                    cy="510"
                    fill="white"
                    r="45"
                    class="circleInit"
            ></circle>
            <circle
                    clip-path="url(#letter_circle)"
                    cx="1340"
                    cy="510"
                    fill="white"
                    r="45"
                    class="circleInit"
            ></circle>
            <circle
                    clip-path="url(#letter_circle)"
                    cx="1340"
                    cy="580"
                    fill="white"
                    r="45"
                    class="circleInit"
            ></circle>
            <circle
                    clip-path="url(#letter_circle)"
                    cx="1270"
                    cy="580"
                    fill="white"
                    r="45"
                    class="circleInit"
            ></circle>

            <circle
                    clip-path="url(#letter_circle)"
                    cx="1550"
                    cy="510"
                    fill="white"
                    r="45"
                    class="circleInit"
            ></circle>
            <circle
                    clip-path="url(#letter_circle)"
                    cx="1520"
                    cy="580"
                    fill="white"
                    r="45"
                    class="circleInit"
            ></circle>
            <circle
                    clip-path="url(#letter_circle)"
                    cx="1580"
                    cy="580"
                    fill="white"
                    r="45"
                    class="circleInit"
            ></circle>
        </svg>
    </div>
</div>